<div class="container-fluid">
  <%= flash[:notice] %>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <% if current_user.email == "guest@example.com" %>
        <p>ここに予定追加ボタンがありますが、ゲストログインでご利用の方はご利用できません</p>
      <% else %>
      <button class="show-modal"><i class="fas fa-plus"></i>&nbsp;Add Events</button>
      <% end %>
    </div>
  </div>
  <div class="content">

    <div class="group_info">
      <div class="group_owner">
        <h2>Group Owner</h2>
        <div class="group_members">
          <%= link_to user_path(@owner), class:"member_link" do %>
            <%= image_tag @owner.get_profile_image, class: "group_member_icon" %>
            <span class="group_member_name"><%= @owner.name %></span>
          <% end %>
        </div>
      </div>

      <div class="group_members_area">
        <h2>Group Members</h2>
        <div class="group_member_index">
          <%= render partial: "member_index", collection: @group_member, as: "member" %>
        </div>
      </div>
    </div>

    <div class="calendar">
      <div class="month">
        <i class="prev"><</i>
        <div class="date">
          <h1></h1>
          <p></p>
        </div>
        <i class="next">></i>
      </div>
      <div class="weekdays">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
      </div>
      <div class="days"></div>
    </div>
    <% if @group_schedules.present? %>
      <div class="group_events">
        <%= render partial: 'public/schedules/group_show_event_detail', collection: @group_schedules, as: "schedule", locals: { group: @group } %>
      </div>
    <% end %>

    <div class="chat">
      <div class="chat_room">
        <%= render partial: 'public/chats/index', collection: @chats, as: "chat", locals: { group_member: @group_member, owner: @owner, group: @group } %>
      </div>
      <div class="chat_form_area">
        <div class="chat_form">
          <%= render 'public/chats/form', chat: @chat, group: @group %>
        </div>
      </div>
    </div>


  </div>
</div>

</div>
<div class="my_modal hidden">
  <button class="close_my_modal">&times;</button>
  <h1>New Events?</h1>
  <div class="new_event_form_area">
    <div class="new_event_form">
      <%= render 'public/schedules/group_schedule_form', schedule: @group_schedule_new, group: @group %>
    </div>
  </div>
</div>
<div class="overlay hidden"></div>

<%= javascript_pack_tag 'group_new_event_modal' %>
<%= javascript_pack_tag 'calendar' %>
