<%= form_with model: schedule, url: group_group_schedules_path(group) do |f| %>
  <div class="event_field">
    <%= f.label :title, "Event", class: "event_field_label" %><br>
    <%= f.text_field :title, class: "event_field_input_form" %>
  </div>

  <div class="event_field">
    <%= f.label :content, "Content", class: "event_field_label" %><br>
    <%= f.text_area :content, class: "event_field_input_form event_content_area" %>
  </div>

  <div class="event_field">
    <%= f.label :start, "Start", class: "event_field_label" %><br>
    <%= f.datetime_field :start, class: "event_field_input_form" %>
  </div>

  <div class="event_field">
    <%= f.label :finish, "Finish", class: "event_field_label" %><br>
    <%= f.datetime_field :finish, class: "event_field_input_form" %>
  </div>

  <div class="event_save_btn_field">
    <% if current_user.email == "guest@example.com" %>
      <p>ゲストログインでご利用の方はご利用できません</p>
    <% else %>
      <%= f.submit 'SAVE!', class: "event_save_btn" %>
    <% end %>
  </div>
<% end %>