<!-- イベント詳細モーダル開くボタン -->
  <button type="button" class="event_show" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= schedule.id %>">
      <div class="event_item_title">
        <div class="event_show_btn_date"><%= schedule.start.strftime("%Y/%m/%d") %></div>
        <div class="event_show_btn_title"><%= schedule.title %></div>
      </div>
  </button>

  <!-- イベント詳細モーダル -->
  <div class="modal fade" id="exampleModal-<%= schedule.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel-<%= schedule.id %>">
            <div class="event_item_title"><%= schedule.title %></div>
          </h1>
          <button class="btn edit_schedule_btn" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">
            <span class="edit_schedule">Edit?</span>
          </button>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body event_content">
          <div class="event_item_content">
            <span class="event_item_content_title">-- 詳細 --</span>
            <div class="event_item_content_detail"><%= schedule.content %></div>
          </div>
          <div class="show_date">
            <div class="event_item_start">
              <span class="start_title">Start : </span>
              <span class="datetime"><%= schedule.start.strftime("%Y/%m/%d %-H:%M") %></span>
            </div>
            <div class="event_item_finish">
              <span class="finish_title">Finish : </span>
              <span class="datetime"><%= schedule.finish.strftime("%Y/%m/%d %-H:%M") %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalToggleLabel2">Edit Schedule?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body edit_body">
          <%= render "public/schedules/edit_group_schedule", schedule: schedule, group: group %>
        </div>
      </div>
    </div>
  </div>