<div class="sign_up">
  <div class="sign_up_area">
    <h1 class="sign_up_logo">Sign up</h1>
    <div class="sign_up_form">
      <%= form_with model: @user, url: user_registration_path, method: :post do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class:"sign_up_form_input" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class:"sign_up_form_input" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"sign_up_form_input" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"sign_up_form_input" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class:"sign_up_btn" %>
        </div>
      <% end %>

      <%= render "public/shared/links" %>
    </div>
  </div>
</div>