<%= form_with model: @user do |f| %>
  <div class="edit_form_content">
    <div class="edit_form_content_area">
      <div class="edit_filed">
        <%= f.label :profile_image, "Profile Image", class:"edit_title" %><br>
        <%= f.file_field :profile_image %>
      </div>

      <div class="edit_filed">
        <%= f.label :name, "Name", class:"edit_title" %><br>
        <%= f.text_field :name %>
      </div>

      <div class="edit_action">
        <% if user.email == "guest@example.com" %>
          <p>ゲストログインでご利用の方は編集できません</p>
        <% else %>
          <%= f.submit "Save Profile!", class:"edit_save_btn" %>
        <% end %>
      </div>

      <div class="widthdraw_action">
        <% if user.email == "guest@example.com" %>
          <p>ゲストログインでご利用の方は退会できません</p>
        <% else %>
          <%= link_to "退会する", withdraw_path(user), method: :patch, "data-confirm" => "本当に退会しますか？", class: "withdraw_btn" %>
        <% end %>
      </div>

    </div>
  </div>
<% end %>