<%= form_with model: @user do |f| %>
  <div class="edit_form_content">
    <div class="edit_form_content_area">
      <div class="edit_filed">
        <%= f.label :profile_image, "Profile Image", class:"edit_title" %><br>
        <%= f.file_field :profile_image %>
      </div>

      <div class="edit_filed">
        <%= f.label :name, "Name", class:"edit_title" %><br>
        <%= f.text_field :name %>
      </div>

      <div class="edit_action">
        <%= f.submit "Save Profile!", class:"edit_save_btn" %>
      </div>
    </div>
  </div>
<% end %>