<div class="user_profile_image">
  <% if user.email == "guest@example.com" || user != current_user %>
    <%= image_tag user.get_profile_image, class: "profile_image_not_user" %>
  <% elsif user == current_user %>
    <%= image_tag user.get_profile_image, class: "profile_image" %>
  <% end %>
</div>
<div class="user_name">
  <%= user.name %>
</div>

<div class="edit_user_modal hidden">
  <button class="close_my_modal">&times;</button>
  <h1>Edit Profile</h1>
  <div class="edit_user_area">
    <div class="edit_user_form">
      <%= render 'edit_form', user: user %>
    </div>
  </div>
</div>
<div class="overlay hidden"></div>

<%= javascript_pack_tag 'edit_user_modal' %>