<div class="container-fluid">
  <%= flash[:notice] %>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <% if @user.email == "guest@example.com" %>
        <p>ここに予定追加ボタンがありますが、ゲストログインでご利用の方はご利用できません</p>
      <% elsif @user != current_user  %>
      <% elsif  @user == current_user %>
         <button class="show-modal"><i class="fas fa-plus"></i>&nbsp;Add Events</button>
      <% end %>
    </div>
  </div>
  <div class="content">
    <div class="user_info">
      <%= render 'user_info', user: @user %>
    </div>
    <div class="calendar">
      <div class="month">
        <i class="prev"><</i>
        <div class="date">
          <h1></h1>
          <p></p>
        </div>
        <i class="next">></i>
      </div>
      <div class="weekdays">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
      </div>
      <div class="days"></div>
    </div>
    <% if @schedules.present? %>
      <div class="events">
        <%= render partial: 'public/schedules/show_event_detail', collection: @schedules, as: "schedule", locals: { user: @user } %>
      </div>
    <% end %>
  </div>

</div>
<!--新規予定モーダル-->
<div class="my_modal hidden">
  <button class="close_my_modal">&times;</button>
  <h1>New Events?</h1>
  <div class="new_event_form_area">
    <div class="new_event_form">
      <%= render 'public/schedules/form', schedule: @schedule_new, user: @user %>
    </div>
  </div>
</div>
<div class="overlay hidden"></div>

<%= javascript_pack_tag 'new_event_modal' %>
<%= javascript_pack_tag 'calendar' %>

